@import "config";

%card-box{
    padding: 3rem 2rem;
    text-align: center;
    background-color: #fff;
    outline: $outline;
    outline-offset: -1rem;
    box-shadow: $box-shadow;
    border-radius: 0.5rem;

    &:hover{
        outline: $outline-hover;
        outline-offset: 0;
    }
}

.home{
    background: url(../../public/image/banner-bg.webp) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17rem;
    padding-bottom: 10rem;

    .content{
        text-align: center;
        width: 60rem;

        h3{
            @include title-text(3rem);

            span{
                color: $orange;
            }
        }

        p{
            @include grap-text(1.7rem);
            padding: 1rem 0;
            line-height: 1.8;
        }
    }
}

.features{

    .box-container{
        @include grid(30rem);

        .box{
            @extend %card-box;

            img{
                margin: 1rem 0;
                height: 15rem;
            }

            h3{
                @include title-text(2.5rem);
                line-height: 1.8;
            }

            p{
                @include grap-text(1.5rem);
                line-height: 1.8;
                padding: 1.5rem 0;
            }
        }
    }
}

.products{

    .product-slider{
        padding: 1rem;

        &:first-child{
            margin-bottom: 2rem;
        }

        .box{
            @extend %card-box;

            img{
                height: 20rem;
            }

            h3{
                @include title-text(2.5rem);
            }

            .price{
                @include grap-text(2rem);
                padding: .5rem 0;
            }

            .stars{
                i{
                    font-size: 1.7rem;
                    color: $orange;
                    margin: 0.4rem;
                }
            }
        }
    }
}

.categories{

    .box-container{
        @include grid(26rem);

        .box{
            @extend %card-box;

            img{
                margin: 1rem;
                height: 15rem;
            }

            h3{
                @include title-text(2rem);
                line-height: 1.8;
            }

            p{
                @include grap-text(1.7rem);
                line-height: 1.8;
                padding: 1rem 0;
            }

        }
    }
}

.review{

    .review-slider{
        padding: 1rem;

        .box{
            @extend %card-box;

            img{
                height: 10rem;
                width: 10rem;
                border-radius: 50%;
            }

            p{
                @include grap-text(1.5rem);
                line-height: 1.8;
                padding: 1rem 0;
            }

            h3{
                padding: 1rem 0;
                @include title-text(2.2rem);
            }

            .stars{
                i{
                    margin: 0 0.5rem;
                    color: $orange;
                    font-size: 1.7rem;
                }
            }
        }
    }
}

.blogs{

    .box-container{
        @include grid(26rem);

        .box{
            overflow: hidden;
            border-radius: 0.5rem;
            box-shadow: $box-shadow;
            background-color: #fff;

            img{
                height: 25rem;
                width: 100%;
                object-fit: cover;
            }

            .content{
                padding: 2rem;

                .icons{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 1.5rem;
                    margin-bottom: 1rem;
                    border-bottom: $border;

                    a{
                        font-size: 1.5rem;
                        color: $light-color;

                        &:hover{
                            color: $black;
                        }

                        i{
                            color: $orange;
                            margin-right: 0.5rem;
                        }
                    }
                }

                h3{
                    @include title-text(2.2rem);
                    padding: 0.5rem 0;
                    line-height: 1.8;
                }

                p{
                    @include grap-text(1.5rem);
                    line-height: 1.8;
                }
            }
        }
    }
}