@import "config";

.home{
    background: url(../../public/image/banner-bg.webp) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17rem;
    padding-bottom: 10rem;

    .content{
        text-align: center;
        width: 60rem;

        h3{
            @include title-text(3rem);

            span{
                color: $orange;
            }
        }

        p{
            @include grap-text(1.7rem);
            padding: 1rem 0;
            line-height: 1.8;
        }
    }
}

.features{

    .box-container{
        @include grid(30rem);

        .box{
            padding: 3rem 2rem;
            text-align: center;
            background-color: #fff;
            outline: $outline;
            outline-offset: -1rem;
            box-shadow: $box-shadow;

            &:hover{
                outline-offset: 0;
                outline: $outline-hover;
            }

            img{
                margin: 1rem 0;
                height: 15rem;
            }

            h3{
                @include title-text(2.5rem);
                line-height: 1.8;
            }

            p{
                @include grap-text(1.5rem);
                line-height: 1.8;
                padding: 1.5rem 0;
            }
        }
    }
}

.products{

    .product-slider{
        padding: 1rem;

        &:first-child{
            margin-bottom: 2rem;
        }

        .box{
            text-align: center;
            padding: 3rem 2rem;
            background-color: #fff;
            border-radius: 0.5rem;
            box-shadow: $box-shadow;
            outline: $outline;
            outline-offset: -1rem;

            &:hover{
                outline: $outline-hover;
                outline-offset: 0;
            }

            img{
                height: 20rem;
            }

            h3{
                @include title-text(2.5rem);
            }

            .price{
                @include grap-text(2rem);
                padding: .5rem 0;
            }

            .stars{
                i{
                    font-size: 1.7rem;
                    color: $orange;
                    margin: 0.4rem;
                }
            }
        }
    }
}

.categories{

    .box-container{
        @include grid(26rem);

        .box{
            text-align: center;
            padding: 3rem 2rem;
            border-radius: 0.5rem;
            background-color: #fff;
            box-shadow: $box-shadow;
            outline: $outline;
            outline-offset: -1rem;

            &:hover{
                outline: $outline-hover;
                outline-offset: 0;
            }

            img{
                margin: 1rem;
                height: 15rem;
            }

            h3{
                @include title-text(2rem);
                line-height: 1.8;
            }

            p{
                @include grap-text(1.7rem);
                line-height: 1.8;
                padding: 1rem 0;
            }

        }
    }
}