@import "config";

%absolute-box{
    position: absolute;
    top: 110%;
    right: -110%;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    background-color: #fff;
}

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: $box-shadow;

    .logo{
        font-size: 2.5rem;
        font-weight: bolder;
        color: $black;

        i{
            color: $orange;
        }
    }

    .navbar a{
        font-size: 1.7rem;
        color: $black;
        margin: 0 1rem;

        &:hover{
            color: $orange;
        }
    }

    .icons div{
        height: 4.5rem;
        width: 4.5rem;
        line-height: 4.5rem;
        text-align: center;
        font-size: 2rem;
        border-radius: 0.5rem;
        margin-right: 0.3rem;
        background-color: #eee;
        color: $black;
        cursor: pointer;

        &:hover{
            background-color: $orange;
            color: #fff;
        }
    }

    
    .search-form{
        @extend %absolute-box;
        width: 40rem;
        height: 5rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        gap: 1rem;
        
        
        &.active{
            right: 2rem;
        }
        
        input{
            width: 100%;
            height: 100%;
            text-transform: none;
            background: none;
            font-size: 1.6rem;
            padding: 0 1.5rem;
        }
        
        label{
            font-size: 2.2rem;
            color: $black;
            cursor: pointer;
            padding-right: 1.5rem;
            
            &:hover{
                color: $orange;
            }
        }
    }

    .shopping-cart{
        @extend %absolute-box;
        width: 35rem;
        padding: 1rem;

        &.active{
            right: 2rem;
        }

        .box{
            display: flex;
            align-items: center;
            gap: 1rem;
            position: relative;

            img{
                width: 10rem;
            }

            i{
                font-size: 2rem;
                cursor: pointer;
                position: absolute;
                top: 50%;
                right: 1.5rem;
                transform: translateY(-50%);
                color: $light-color;

                &:hover{
                    color: $orange;
                }
            }

            .content{

                h3{
                    @include title-text(1.7rem);
                    padding-bottom: 1rem;
                }

                span{
                    @include grap-text(1.6rem);
                }

                .quantity{
                    margin-left: 1rem;
                }
            }
        }

        .total{
            text-align: center;
            font-size: 2.5rem;
            color: $black;
            padding: 1rem 0;
        }

        .btn{
            display: block;
            text-align: center;
            margin: 1rem;
        }
    }

    .login-form{
        @extend %absolute-box;
        width: 30rem;
        text-align: center;
        padding: 2rem;

        &.active{
            right: 2rem;
        }

        h3{
            @include title-text(2.5rem);
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        .box{
            text-transform: none;
            font-size: 1.6rem;
            margin: 0.7rem 0;
            padding: 1rem;
            border-radius: 0.5rem;
            background-color: #eee;
            color: $black;
            width: 100%;
        }

        p{
            @include grap-text(1.4rem);
            margin: 0.5rem 0;

            a{
                color: $orange;
                text-decoration: underline;
            }
        }
    }



    #menu-btn{
        display: none;
    }
}

//media queries
@media (max-width: 991px){
    .header{
        padding: 2rem;
    }
}

@media (max-width: 768px){
    .header{

        #menu-btn{
            display: inline-block;
        }

        .navbar{
            position: absolute;
            top: 110%;
            right: -110%;
            border-radius: 0.5rem;
            box-shadow: $box-shadow;
            background-color: #fff;
            width: 30rem;

            &.active{
                right: 2rem;
            }

            a{
                font-size: 2rem;
                margin: 2rem 2.5rem;
                display: block;
                text-align: center;
            }
        }
    }
}